* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
}

.conteiner {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 900px;
    z-index: 1;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}



.flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
    perspective: 1500px;
}

.gameDiv {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 48%;
    transform: rotateY(0deg);
    transition: transform 0.5s ease;
}

.gameDiv:hover {
    transform: rotateY(10deg);
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    outline: none;
    border-color: #ff7e5f;
    box-shadow: 0 0 5px rgba(255, 126, 95, 0.8);
}

button {
    background-color: #ff7e5f;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #feb47b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

#attempt {
    font-weight: bold;
    color: #333;
}

#resetButton {
    background-color: #ff6347;
    color: #fff;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #feb47b;
}

.rulesDiv {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 48%;
    transform: rotateY(0deg);
    transition: transform 0.5s ease;
}

.rulesDiv:hover {
    transform: rotateY(-10deg);
}

.rulesDiv h1 {
    font-size: 28px;
    font-weight: 500;
    color: #2c3e50;
    margin-bottom: 10px;
}

.rulesDiv p {
    font-size: 16px;
    color: #555;
}
